.invalid{
    // border: 2px solid red;
    height: 3vw;
    width: 45vh;
    position: relative;
    left: 39.5vw;
    background-color: rgba(218, 70, 70, 0.384);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
}